$background: #000000;
$secondcolor: #000000;
$accentcolor: #ccc4f6;
$secondAccentcolor: #537FE7;
$thirdAccentcolor: #9c7aea;

$gradient: linear-gradient(purple, darken(purple, 50%));

$lightmodeBackground: #F4EEFF;
$lightmodeSecondcolor: #DCD6F7;
$lightmodeAccentcolor: #424874;