@use "variables.scss";

body{
    min-height: 100vh;
    background: variables.$backgroundColor;
    font-size: map-get(variables.$fontVars, "size");
    font-family: map-get(variables.$fontVars, "font");
    color: map-get(variables.$fontVars, "color");
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: min-content;
}

.main{
    display: flex;
    gap: 4rem;
    padding: 4rem;
}