$backgroundColor: #5C8374;

$fontVars: (
    "color": white,
    "font": sans-serif,
    "size": 1.6rem
);

$tasksVars: (
    "background": #092635,
    "taskBackground": #9EC8B9,
    "headerNumber": #1B4242,
    "taskColor": black
);

$labelVars: (
    "today": #7077A1
);