$backgroundColor: #AAD7D9;

$fontVars: (
    "color": white,
    "font": sans-serif,
    "size": 1.6rem
);

$tasksVars: (
    "background": #92C7CF,
    "taskBackground": #E5E1DA,
    "headerNumber": #FBF9F1,
    "taskColor": black
);

$labelVars: (
    "today": #7077A1
);