@use "../../abstract/variables.scss";

.header{
    background: map-get(variables.$tasksVars, "background");
    width: 100%;
    height: 5rem;
    position: fixed;

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        height: 100%;
    }
}