$background: #000000;
$backgroundSection: lightblue;
$skincolor: #cb9674;
$skincolorGradient: radial-gradient(#cb9674, 85%, #a57861);
$eyeColor: rgb(40, 10, 10);
$hairColor: rgb(215, 201, 132);
$maskColor: #eee;
$maskString: grey;
$neckSection: rgb(43, 10, 10);
$neckSectionGradient:  radial-gradient(white, 90%, black);
$earsGrey: #b9beba;
$earsPurple: #8973a2;
$earsGradient:  radial-gradient(#8973a2, 70%, #62f79a);
$whiteFont: white;
$fontColor: rgb(195, 170, 195);
$borderColorPurple: rgb(195, 147, 195);
$borderColorBlue: rgb(165, 181, 187);
$hairGradient: radial-gradient(rgb(215, 201, 132), 70%, rgb(189, 175, 108));